<html>

<head>
</head>

<body>
    <div class="input-group input-group-sm">
        <textarea id="reply-input-{0}" type="text" class="form-control reply-input">
        </textarea>
        <span class="input-group-btn">
        <button id="reply-btn-{0}" class="btn btn-info btn-xs" type="button">Reply</button>
        </span>
    </div>
    <li class="list-group-item list-group-item{4}">
        <div id="{5}-{0}">
            <div id="post-image"><img src="{6}" id="img-post"></div>
            <div id="post-user">{1}</div>
            <time id="post-time" datetime="{2}"></time>
            <div id="post-message">{3}</div>
</body>

</html>
