body {
    background-color: #999;
}

.jumbotron {
    background-image: url(/public/img/klotter.png);
    background-color: #369cb4;
    background-position: 30px 5px;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.transparent-div {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#space {
    margin-top: 20px;
    margin-bottom: 20px;
}

#profile {
    text-align: center;
}

#img-profile-heading {
    border: 4px solid #ffffff;
    width: 73px;
    height: 73px;
}

#talk {
    padding: 1px 15px 1px 15px;
    background-color: #e0e0e0;
    border-bottom: 1px solid #999;
}

.panel-body {
    background-color: #e0e0e0;
}

.input-group {
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-group-item {
    margin-top: 20px;
}

textarea {
    resize: none;
}

.list-group-item-reply {
    width: 80%;
    margin-top: 0px;
    background-color: #fafafa;
    padding-bottom: 20px;
}

#img-post {
    width: 48px;
    height: 48px;
    border-radius: 5px;
}

.img-message {
    max-width: 230px;
    border-radius: 5px;
    border: 2px double #999;
}

#post-image {
    display: block;
    float: left;
}

#post-user {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    float: left;
}

#post-time {}

#reply-message {
    margin-left: 58px;
    word-wrap: break-word;
    margin-bottom: 10px;
}

#post-message {
    margin-left: 58px;
    word-wrap: break-word;
}

.container {
    width: 590px;
}

@media (max-width: 590px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 400px) {
    #img-logo {
        margin-left: 13px;
    }
    textarea {
        resize: none;
    }
    .container {
        width: 100%;
        padding-left: 1px;
        padding-right: 1px;
    }
    .input-group {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .panel-body {
        background-color: #e0e0e0;
        padding: 1px;
    }
    #talk {
        padding: 1px 1px 1px 1px;
        background-color: #e0e0e0;
        border-bottom: 1px solid #999;
    }
    .list-group-item-reply {
        width: 95%;
        margin-top: 0px;
        background-color: #fdfdfd;
        padding-bottom: 20px;
        line-height: 1.3em;
    }
    #img-post {
        width: 24px;
        height: 24px;
        border-radius: 2px;
    }
    #post-image {
        display: block;
        float: left;
    }
    #post-user {
        margin-left: 34px;
        font-weight: bold;
        font-size: 0.8em;
        float: none;
    }
    #post-time {
        margin-left: 10px;
        font-size: 0.8em;
        clear: both;
    }
    #post-message {
        margin-left: 34px;
        font-size: 0.8em;
        word-wrap: break-word;
    }
    #reply-message {
        margin-left: 34px;
        font-size: 0.8em;
        word-wrap: break-word;
        margin-bottom: 10px;
    }
}
