body{
	background-color: #999;
}

#space{
	margin-top: 20px;
	margin-bottom: 20px;
}

#profile{
	text-align: center;
}

#img-profile-heading{
	border: 4px dotted #ffffff;
}

#post-image{
	display: block;
	float: left;
}

#post-user{
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
	float: left;
}

#post-time{
	font-weight: lighter;
}

#post-message{
	margin-left: 58px;
	word-wrap: break-word;
}

#img-post{
	width: 48px;
	height: 48px;
	border-radius: 5px;
}

#talk{
	padding: 1px 20px 1px 20px;
	background-color: #e0e0e0;
	border-bottom: 1px solid #999;
}

.panel-body{
	background-color: #e0e0e0;
}

.input-group{
	margin-top: 20px;
	margin-bottom: 10px;
}

.list-group-item{
	margin-top: 10px;
}

.list-group-item-reply{
	width: 80%;
	margin-top: 0px;
	background-color: #fafafa;
	padding-bottom: 20px;
}

.badge{
	background-color: #e0e0e0;
	color: #999;
}